._button {
  background-color: var(--primary);
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px #1114;
  font-weight: 600;
  font-family: var(--font2);
  color: white;
  transition: all 0.3s ease-in;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

._button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
._button:hover::before {
  opacity: 0.12;
}
._button > span {
  position: relative;
  z-index: 1;
  color: white;
}
