._club-page {
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._club-page > .section {
  background: white;
  border-radius: 5px;
  box-shadow: 2px 4px 16px #1112;
  padding: 0.5rem 1rem 1rem;
  width: 100%;
}
._club-page .header h1 {
  font-size: 52px;
  font-family: var(--font2);
  font-weight: 600;
}
._club-page h3._heading {
  width: 100%;
  margin: 0;
}
._club-page table td,
._club-page table th {
  padding: 0.75rem 1.5rem;
  border: 1px solid #ccc;
  text-align: left;
}
._club-page table {
}
