@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --primary: #2196f3;
    --font1: Inter, verdana;
    --font2: Montserrat, Helvetica, Sans-serif;
  }
  .text-primary {
    color: var(--primary);
  }
  .bg-primary {
    background-color: var(--primary);
  }
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}
body::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.__app {
  width: 80%;
  max-width: 1500px;
  margin: auto;
}
h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
